body {
    padding-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
}

.game-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

#timer, #high-score, #score, #accuracy {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
    font-weight: bold;
}


.timer, .target, .result {
    margin-bottom: 20px;
}

#target {
    font-size: 48px;
    letter-spacing: .1em;
    color: #5C6BC0;
}

#timer {
    font-size: 24px;
    color: #E53935;
}

#result {
    font-size: 20px;
    color: #8E24AA;
}

#high-score {
    color: #4CAF50;
}

#score, #accuracy {
    color: #3F51B5;
}

#level-selector {
    font-size: 16px;
    margin-bottom: 15px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}